/* CSS Pallette
--midnight-blue: #031a6b;
--indigo-dye: #033860;
--cg-blue: #087ca7;
--yale-blue: #004385;
--cerulean-crayola: #05b2dc; */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    background-color:#004385;
    font-family: 'Merriweather';
}

a {
    text-decoration: none;
    color: #087ca7;
}

a:hover {
    color: #004385;
}

#wrapper {
    margin-top: 60px;
}

br.responsive {
    display: none;
}

span.responsive {
    display: none;
}

#wrapper header {
    background: url(https://github.com/seco560/west-therapy-test/blob/master/images/nature_placeholder.jpg?raw=true) no-repeat center center fixed;
    background-size: cover;
    box-shadow: 3px 3px 8px 0px rgb(0, 0, 0);
    min-height: 800px;
    padding: 4px;
    border-radius: 25px;
    background-color: #05b2dc;
}

#wrapper header > div {
    border: 1px solid #031a6b;
    background-color: rgb(5, 178, 220);
    background-color: rgba(5, 178, 220, 0.6);
    border-radius: 15px;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

#wrapper header > #logo {
    background-color: pink;
    width: 20%;
}

#wrapper header > div h2 {
    font-size: 3em;
}

#wrapper > section {
    min-height: 100vh;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center center;
    border-radius: 12px;
    box-shadow: 3px 3px 8px 0px rgb(0, 0, 0);
}

#wrapper > section article {
    background-color: rgb(32, 150, 180);
    background-color: rgba(32, 150, 180, 0.8);
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    min-height: 500px;
}

#navbar {
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    z-index: 100;
    height: 30px;
}

#navbar nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

#navbar nav a {
    flex: 0 0 15vw;
    text-align: center;
    font-size: 1.7em;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgb(3, 56, 96);
    background-color: rgba(3, 56, 96, 0.7);
    border-radius: 12px;
    box-shadow: 3px 3px 3px 0px rgb(0, 0, 0);
}

#navbar nav a:hover {
    background-color: rgb(0, 133, 71);
    background-color: rgba(0, 133, 71, 0.7);
}

#willkommen {
    background-image: url(https://github.com/seco560/west-therapy-test/blob/master/images/mama_placeholder.jpg?raw=true);
}

#arzt {
    background-image: url(https://github.com/seco560/west-therapy-test/blob/master/images/prislop_placeholder.jpg?raw=true);
}

#arzt img {
    max-width: 25vw;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
    border: 2px solid #000;
    margin: 10px;
}

#behandlungen {
    background-image: url(https://github.com/seco560/west-therapy-test/blob/master/images/treatments_placeholder.jpg?raw=true);
}

#behandlungen ol {
    margin: auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#behandlungen ol li {
    margin: 10px;
    max-width: 35vw;
    text-align: center;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.6);
    border-radius: 5%;
}

#behandlungen ol li img {
    max-width: 25vw;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
    border: 2px solid #000;
    margin: 10px;
}

#adresse {
    background-image: url(https://github.com/seco560/west-therapy-test/blob/master/images/address_placeholder.jpg?raw=true);
}

#kontakt {
    background-image: url(https://github.com/seco560/west-therapy-test/blob/master/images/nature_placeholder.jpg?raw=true);
}

#kontakt form {
    margin: 0 auto;
    max-width: 30vw;
    border: 1px solid #ddd;
    padding: 0.5em;
    border-radius: 20px;
    background-color: #05b2dc;
}

#kontakt label {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 1.2em;
}

#kontakt .row {
    margin: 20px auto;
    padding: 0 50px;
}

#kontakt input {
    width: 100%;
    font-size: 1.3em;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    text-align: center;
}

#kontakt .radiobtn {
    height: 18px;
}

#kontakt button {
    padding: 5px;
    width: 100%;
    font-size: 1.1em;
    color: #004385;
    background-color: lightgray;
    border-radius: 10px;
}

#gdpr-notiz {
    background-image: url(https://github.com/seco560/west-therapy-test/blob/master/images/prislop_placeholder.jpg?raw=true);
}

#footer {
    background-color: #087ca7;
    padding: 15px;
    margin-top: 5px;
    border-radius: 15px;
    text-align: center;
    min-height: 50px;
}

@media all and (max-width: 800px) {
    #kontakt form {
        max-width: 88vw;
    }
    #navbar nav {
        flex-wrap: wrap;
    }
    #navbar nav a {
        font-size: 1.1em;
    }
    #wrapper header > div h2 {
        font-size: 2em;
    }
    br.responsive {
        display: inline;
    }
    
    span.responsive {
        display: inline;
    }
}